.u-section-1 .u-sheet-1 {
  min-height: 323px;
}

.u-section-1 .u-group-1 {
  width: 553px;
  min-height: 104px;
  height: auto;
  margin: 72px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px 23px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-transform: none;
  width: 686px;
  font-size: 1.0625rem;
  line-height: 1.5;
  margin: 38px auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
      height: auto;
  }

  .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
      width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
      width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
      width: 340px;
  }

  .u-section-1 .u-text-2 {
      width: 340px;
  }
}

.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 210px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("../img/image10.png");
  background-position: 33.18% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
      min-height: 203px;
  }

  .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
      min-height: 540px;
  }

  .u-section-2 .u-image-1 {
      min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
      min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
      min-height: 77px;
  }

  .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
      min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
      padding-left: 50px;
      padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
      min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
      min-height: 391px;
  }
}

.u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("../img/image11.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
      min-height: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
  }

  .u-section-3 .u-image-1 {
      min-height: 540px;
  }

  .u-section-3 .u-layout-cell-2 {
      min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
      min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
      min-height: 77px;
  }

  .u-section-3 .u-image-1 {
      min-height: 414px;
  }

  .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
      min-height: 621px;
  }

  .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
      padding-left: 50px;
      padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
      min-height: 391px;
  }
}

.u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("../img/image12.png");
  background-position: 45.24% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
      min-height: 203px;
  }

  .u-section-4 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
      min-height: 540px;
  }

  .u-section-4 .u-image-1 {
      min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
      min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
      min-height: 77px;
  }

  .u-section-4 .u-layout-cell-1 {
      min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
      min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
      padding-left: 50px;
      padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
      min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
      min-height: 391px;
  }
}
